@model IEnumerable<Reservation>
<div class="container p-3">
    <div class="row align-items-center pt-4 mb-2">
        <div class="col-6">
            <h2 class="text-primary">Reservation List</h2>
        </div>
    </div>
    <div class="row">
        <table id="tblData" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>startDate</th>
                    <th>endDate</th>
                    <th>numberOfPeopel</th>
                    <th>totalPrice</th>
                    <th>discount</th>
                    <th>room number</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in @Model)
                {
                    <tr>
                        <td>@reservation.StartDate</td>
                        <td>@reservation.EndDate</td>
                        <td>@reservation.NumberOfPeopel</td>
                        <td>@reservation.TotalPrice</td>
                        <td>@reservation.Discount</td>
                        <td>@reservation.Room.RoomNumber</td>
                        <td>@reservation.Status</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
